---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_5wuKXBDYou3thIf4GE6htyrF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103Ycx2nsCLSc89fNocPboU5",
          "livemode": false,
          "created": 1393275128,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103Ycx2nsCLSc89fXEOhb7nw",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "9KIMAEh5RxdM8gLK",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 24 Feb 2014 20:51:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103Ycx2nsCLSc89fNocPboU5&email=fleta.gulgowski%40collinspowlowski.name&plan=plan_id
    headers:
      Authorization:
      - Bearer sk_test_5wuKXBDYou3thIf4GE6htyrF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393275129,
          "id": "cus_3YcxQTo2UX8Fnk",
          "livemode": false,
          "description": null,
          "email": "fleta.gulgowski@collinspowlowski.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3YcxQTo2UX8Fnk/subscriptions",
            "data": [
              {
                "id": "sub_3YcxWXOA5os8Zd",
                "plan": {
                  "interval": "month",
                  "name": "base",
                  "created": 1393017651,
                  "amount": 999,
                  "currency": "usd",
                  "id": "plan_id",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1393275129,
                "status": "trialing",
                "customer": "cus_3YcxQTo2UX8Fnk",
                "cancel_at_period_end": false,
                "current_period_start": 1393275129,
                "current_period_end": 1395867129,
                "ended_at": null,
                "trial_start": 1393275129,
                "trial_end": 1395867129,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3YcxQTo2UX8Fnk/cards",
            "data": [
              {
                "id": "card_103Ycx2nsCLSc89fXEOhb7nw",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2018,
                "fingerprint": "9KIMAEh5RxdM8gLK",
                "customer": "cus_3YcxQTo2UX8Fnk",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103Ycx2nsCLSc89fXEOhb7nw",
          "subscription": {
            "id": "sub_3YcxWXOA5os8Zd",
            "plan": {
              "interval": "month",
              "name": "base",
              "created": 1393017651,
              "amount": 999,
              "currency": "usd",
              "id": "plan_id",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": 30,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1393275129,
            "status": "trialing",
            "customer": "cus_3YcxQTo2UX8Fnk",
            "cancel_at_period_end": false,
            "current_period_start": 1393275129,
            "current_period_end": 1395867129,
            "ended_at": null,
            "trial_start": 1393275129,
            "trial_end": 1395867129,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Mon, 24 Feb 2014 20:51:15 GMT
recorded_with: VCR 2.8.0
